#!/bin/bash
#
# Profile for X11
# Gets run by DMs

# Set X keymap because reasons
setxkbmap ch

# Start applications
polybar main &
sxhkd & 
#ibus-daemon -drx
#launch sxhkd color xrdb polybar compton hp
#nm-applet
#/usr/bin/polkit-kde-authentication-agent-1
#start_jack &
#sleep 1
#launch color bspwm
