#!/bin/bash
#
# Profile for X11
# Gets run by DMs

# Set X keymap because reasons
setxkbmap ch

# Start applications
{%@@ if profile == "sun" @@%}
~/bin/launch xrdb picom bspwm sxhkd polybar enpass udiskie color ibus hp
{%@@ elif profile == "teegardenb" or profile == "kepler22b" @@%}
~/bin/launch xrdb picom bspwm sxhkd polybar enpass udiskie color ibus
{%@@ endif @@%}
nm-applet &
flameshot &
/usr/lib/polkit-kde-authentication-agent-1 &
xautolock -time 10 -locker "i3lock -i ~/.cache/wal/lockscreen.png" -detectsleep &
#start_jack &
#sleep 1

