alias cp="cp -i"
alias lsl="ls -lAh --color=auto"
alias ls="ls -Ah --color=auto"
alias tree="tree -aC"
alias sudo="sudo "
alias sprunge="curl -f 'sprunge=<-' http://sprunge.us/"
alias scrot="scrot '%Y.%m.%d_%H-%M-%S_%w_%h.png' -e 'mv \$f ~/Bilder/screenshots/\$f'"
alias ipaddr="wget http://ipinfo.io/ip -q0 -"
alias grep="grep --color=auto"
alias egrep="egrep --color=auto"
alias fgrep="fgrep --color=auto"
alias xpid="xprop | grep PID | cut -d' ' -f3"
alias pacman="pacman --color=auto"
alias xclass=$'xprop | grep WM_CLASS | cut -d\'"\' -f2'
