gtk-color-scheme = "background: #1B2119"
gtk-color-scheme = "foreground: #D7B7B1"

gtk-color-scheme = "color0: #1B2119"
gtk-color-scheme = "color1: #656991"
gtk-color-scheme = "color2: #99778E"
gtk-color-scheme = "color3: #EC7786"
gtk-color-scheme = "color4: #A28A85"
gtk-color-scheme = "color5: #A28F9E"
gtk-color-scheme = "color6: #E49C95"
gtk-color-scheme = "color7: #D7B7B1"
gtk-color-scheme = "color8: #666666"
gtk-color-scheme = "color9: #656991"
gtk-color-scheme = "color10: #99778E"
gtk-color-scheme = "color11: #EC7786"
gtk-color-scheme = "color12: #A28A85"
gtk-color-scheme = "color13: #A28F9E"
gtk-color-scheme = "color14: #E49C95"
gtk-color-scheme = "color15: #D7B7B1"
