gtk-color-scheme = "background: #060403"
gtk-color-scheme = "foreground: #E1E1D4"

gtk-color-scheme = "color0: #060403"
gtk-color-scheme = "color1: #085367"
gtk-color-scheme = "color2: #A8511D"
gtk-color-scheme = "color3: #CC9940"
gtk-color-scheme = "color4: #096E8A"
gtk-color-scheme = "color5: #627D82"
gtk-color-scheme = "color6: #16B7B1"
gtk-color-scheme = "color7: #E1E1D4"
gtk-color-scheme = "color8: #696867"
gtk-color-scheme = "color9: #085367"
gtk-color-scheme = "color10: #A8511D"
gtk-color-scheme = "color11: #CC9940"
gtk-color-scheme = "color12: #096E8A"
gtk-color-scheme = "color13: #627D82"
gtk-color-scheme = "color14: #16B7B1"
gtk-color-scheme = "color15: #E1E1D4"
