gtk-color-scheme = "background: #1c1a1a"
gtk-color-scheme = "foreground: #beb4b4"

gtk-color-scheme = "color0: #262424"
gtk-color-scheme = "color1: #c0392b"
gtk-color-scheme = "color2: #27ae39"
gtk-color-scheme = "color3: #eca30f"
gtk-color-scheme = "color4: #295dc1"
gtk-color-scheme = "color5: #8a37ad"
gtk-color-scheme = "color6: #169e9e"
gtk-color-scheme = "color7: #867c7c"
gtk-color-scheme = "color8: #444040"
gtk-color-scheme = "color9: #e74c3c"
gtk-color-scheme = "color10: #2ecc55"
gtk-color-scheme = "color11: #ffc30c"
gtk-color-scheme = "color12: #2e7ef2"
gtk-color-scheme = "color13: #a156d7"
gtk-color-scheme = "color14: #1bbbc4"
gtk-color-scheme = "color15: #aca2a2"
