/*===============================================
  FLAT FIREFOX
  CSS THEME FOR STYLISH
  V15.07.22
  FOR FIREFOX BETA V40.0
  BY NADIRP.DEVIANTART.COM
  ===============================================*/

/*===============================================
  DISABLE FIREFOX DEFAULT BACKGROUND  
  ===============================================*/
#TabsToolbar:not(:-moz-lwtheme)::after {
	display: none;
}

/*===============================================
  TABS BACKGROUND SETTINGS  
  ===============================================*/
#main-window[sizemode="normal"]:not([inFullscreen])  #TabsToolbar {
	background: transparent !important;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	margin-right: 0px !important;
	margin-left: -17px !important;
}

#main-window[sizemode="normal"]:not([inFullscreen])  #TabsToolbar .tabbrowser-tabs {
	min-height: 26px !important;
	margin-top: 0px !important;
}

/*===============================================
  INACTIVE TABS  
  ===============================================*/
#TabsToolbar .tabbrowser-tab {
	text-align: left !important;
	background: #262424 !important;
	border-radius: 0px 0px 0px 0px !important;
	color: #9e9494 !important;
	margin: 0px 2px 0px 2px !important;
	font-family: "Segoe UI",Helvetica,Arial,sans-serif;
	font-size: 12px;
}
#TabsToolbar .tabbrowser-tab:hover {
	background: #302e2e !important;
}

/*===============================================
  ACTIVE TABS  
  ===============================================*/
#TabsToolbar .tabbrowser-tab[selected] {
	border-radius: 0px 0px 0px 0px !important;
	background: #302e2e !important;
	color: #beb4b4 !important;
}

/*===============================================
  DISABLE AUSTRALIS TAB  
  ===============================================*/
#TabsToolbar .tab-background {
	margin: 0;
	background: transparent;
}

#TabsToolbar .tab-background-start,  #TabsToolbar .tab-background-end {
	display: none !important;
}

#TabsToolbar .tab-background-middle {
	background: transparent !important;
}

#TabsToolbar .tabbrowser-tab:after,  #TabsToolbar .tabbrowser-tab:before {
	display: none !important;
}

/*===============================================
  ON MAXIMIZED WINDOW  
  ===============================================*/
#main-window[sizemode="maximized"]  #TabsToolbar {
	background: transparent !important;
	margin-bottom: 0px !important;
	margin-top: 4px !important;
	margin-right: -25px !important;
	margin-left: -13px !important;
}

#TabsToolbar .tabbrowser-tabs {
	min-height: 26px !important;
	margin-top: 1px !important;
}

#main-window[sizemode="maximized"]  #nav-bar {
	border-radius: 0px 0px 0px 0px !important;
	margin-left: -4px !important;
	margin-right: -6px !important;
}

/*===============================================
  HIDES ANNOYING ELEMENTS ON ADDRESS BAR  
  ===============================================*/
#addonbar-closebutton ,#feed-button,#go-button,#star-button,#identity-box,.autocomplete-history-dropmarker,.scrollbutton-up,.scrollbutton-down {
	display: none!important;
}

/*===============================================
  NAVIGATION BAR/ADDRESS BAR/SEARCH BAR SETTING  
  ===============================================*/
#nav-bar {
	background: #302e2e !important;
	margin-top: -1px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	padding: 0px !important;
	box-shadow: none !important;
}

#urlbar {
	background: #302e2e !important;
	padding: 4.5px !important;
	text-align: left!important;
	padding-left: 8px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 12px !important;
	margin-right: 4px !important;
	border-top: 1px solid #302e2e!important;
	border-bottom: 1px solid #302e2e!important;
	border-left: 1px solid #302e2e!important;
	border-right: 1px solid #302e2e!important;
	color: #beb4b4 !important;
	font-family: "Segoe UI Semibold",Helvetica,Arial,sans-serif;
	font-size: 11px;
	box-shadow: none !important;
}

#searchbar .search-go-button {
	visibility: hidden !important;
}

#searchbar .searchbar-dropmarker-image {
	display: none !important;
}

#searchbar .searchbar-engine-image {
	width: 0 !important;
	padding-left: 18px !important;
	margin-left: -20px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-right: 2px !important;
}

#searchbar .searchbar-textbox {
	background: #302e2e !important;
	text-align: left!important;
	margin-top: 7px !important;
	margin-bottom: 7px !important;
	margin-left: 1px !important;
	margin-right: 10px !important;
	border-top: 1px solid #302e2e!important;
	border-bottom: 1px solid #302e2e!important;
	border-left: 1px solid #302e2e!important;
	border-right: 1px solid #302e2e!important;
	padding-left: 5px !important;
	color: #beb4b4 !important;
	font-family: "Segoe UI Semibold",Helvetica,Arial,sans-serif;
	font-size: 11px;
	box-shadow: none !important;
}

#urlbar, .searchbar-textbox {
	border-radius: 0px 0px 0px 0px !important;
}


/*===============================================
  REMOVES VS SEPARATOR
  ===============================================*/
#browser-bottombox {
	border: none !important;
}

#browser-border-end, #browser-border-start {
	display: none !important;
}

#nav-bar {
	border: none !important;
	visibility: visible !important;
}

#navigator-toolbox:after {
	height: 0px !important;
}

/*===============================================
  BORDERLESS EFFECT FOR BORDERLESS VS
  ===============================================*/
#main-window {
	-moz-appearance: -moz-win-borderless-glass !important;
	-moz-appearance: -moz-win-glass !important;
}

/*===============================================
  CUSTOM NEW TAB BUTTON
  ===============================================*/
#main-window .tabbrowser-tabs .tabs-newtab-button {
	list-style-image: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%10%00%00%00%10%08%06%00%00%00%1F%F3%FFa%00%00%00%04sBIT%08%08%08%08%7C%08d%88%00%00%00%09pHYs%00%00%0D%D7%00%00%0D%D7%01B%28%9Bx%00%00%00%19tEXtSoftware%00www.inkscape.org%9B%EE%3C%1A%00%00%00.IDAT8%8Dc%60%18%05x%C1%7F%28%C0%A7%86%89RK%286%80%11%5D%80%90%93%19%19%19Q%F4P%EC%02%BC%60h%04%E2%28%60%60%00%00b%3C%13%FC%EA%AB%8D1%00%00%00%00IEND%AEB%60%82") !important;
	background: transparent !important;
	margin-left: -20px !important;
	border: transparent !important;
	border-top: transparent !important;
	border-left: transparent !important;
	border-right: transparent !important;
}

#main-window .tabbrowser-tabs .tabs-newtab-button:hover {
	list-style-image: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%10%00%00%00%10%08%06%00%00%00%1F%F3%FFa%00%00%00%04sBIT%08%08%08%08%7C%08d%88%00%00%00%09pHYs%00%00%0D%D7%00%00%0D%D7%01B%28%9Bx%00%00%00%19tEXtSoftware%00www.inkscape.org%9B%EE%3C%1A%00%00%00.IDAT8%8Dc%60%18%05x%C1%7F%28%C0%A7%86%89RK%286%80%11%5D%80%90%93%19%19%19Q%F4P%EC%02%BC%60h%04%E2%28%60%60%00%00b%3C%13%FC%EA%AB%8D1%00%00%00%00IEND%AEB%60%82") !important;
}

/* hide urlbars stop/reload/go buttons */
#urlbar-container #urlbar-reload-button,  #urlbar-container #urlbar-go-button,  #urlbar-container #urlbar-stop-button {
	visibility: collapse !important;
}

/*===============================================
  CHANGES MENU BUTTON'S IMAGE
  ===============================================*/
#PanelUI-menu-button {
	list-style-image: url('data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%10%00%00%00%10%08%06%00%00%00%1F%F3%FFa%00%00%00%04sBIT%08%08%08%08%7C%08d%88%00%00%00%09pHYs%00%00%0D%D7%00%00%0D%D7%01B%28%9Bx%00%00%00%19tEXtSoftware%00www.inkscape.org%9B%EE%3C%1A%00%00%009IDAT8%8Dc%60%A0%1002000TT%B4%0B%92%A3%B9%A3%A3%F2%3DciES%0A%03%23%E3l%B2%AC%FF%FF%3F%95%89%2C%8D%83%0A%8C%06"%15%C0h%20R%01%00%00%E2%86%1A%86%C2%C8%D8%A4%00%00%00%00IEND%AEB%60%82') !important;
	-moz-image-region: rect(0,16px,16px,0) !important;
	background: transparent !important;
	border: transparent !important;
	border-top: transparent !important;
	border-left: transparent !important;
	border-right: transparent !important;
}

#PanelUI-menu-button:hover:not([disabled="true"]) {
	-moz-image-region: rect(0,16px,16px,0px) !important;
	background: transparent !important;
	border: transparent !important;
	border-top: transparent !important;
	border-left: transparent !important;
	border-right: transparent !important;
}

#PanelUI-menu-button[open] {
	list-style-image: url('data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%10%00%00%00%10%08%06%00%00%00%1F%F3%FFa%00%00%00%04sBIT%08%08%08%08%7C%08d%88%00%00%00%09pHYs%00%00%0D%D7%00%00%0D%D7%01B%28%9Bx%00%00%00%19tEXtSoftware%00www.inkscape.org%9B%EE%3C%1A%00%00%00%3AIDAT8%8Dc%60%A0%1002000444p%91%A3%B9%A1%A1%E1%1Bcyy%8B%CD%3Ff%86Xr%0C%60%FA%CB%B0%98%89%1C%8D%83%0B%8C%06"%15%C0h%20R%01%00%00l%A5%1A%17%2A%AE_%A5%00%00%00%00IEND%AEB%60%82') !important;
	-moz-image-region: rect(0,16px,16px,0px) !important;
	background: transparent !important;
	border: transparent !important;
	border-top: transparent !important;
	border-left: transparent !important;
	border-right: transparent !important;
}

#PanelUI-button {
	list-style-image: url('data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%10%00%00%00%10%08%06%00%00%00%1F%F3%FFa%00%00%00%04sBIT%08%08%08%08%7C%08d%88%00%00%00%09pHYs%00%00%0D%D7%00%00%0D%D7%01B%28%9Bx%00%00%00%19tEXtSoftware%00www.inkscape.org%9B%EE%3C%1A%00%00%009IDAT8%8Dc%60%A0%1002000TT%B4%0B%92%A3%B9%A3%A3%F2%3DciES%0A%03%23%E3l%B2%AC%FF%FF%3F%95%89%2C%8D%83%0A%8C%06"%15%C0h%20R%01%00%00%E2%86%1A%86%C2%C8%D8%A4%00%00%00%00IEND%AEB%60%82') !important;
	width: 0px !important;
	margin-left: -6px !important;
	margin-right: 3px !important;
	background: none !important;
}

/*===================================================================
  HIDES PLUGINS NOTIFICATION ICON THAT MAY CHANGE ADDRESS BAR'S HEIGHT  
  ====================================================================*/
#plugins-notification-icon {
	display: none !important;
}

/*===================================================================
  HIDES BACKGROUND EFFECT ON HOVER AND ACTIVE MENU BUTTON  
  ====================================================================*/
.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-container {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}
