#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11

! special
*.foreground:   #beb4b4
*.background:   #1c1a1a
*.cursorColor:  #beb4b4

! black
*.color0:       #262424
*.color8:       #444040

! red
*.color1:       #c0392b
*.color9:       #e74c3c

! green
*.color2:       #27ae39
*.color10:      #2ecc55

! yellow
*.color3:       #eca30f
*.color11:      #ffc30c

! blue
*.color4:       #295dc1
*.color12:      #2e7ef2

! magenta
*.color5:       #8a37ad
*.color13:      #a156d7

! cyan
*.color6:       #169e9e
*.color14:      #1bbbc4

! white
*.color7:       #867c7c
*.color15:      #aca2a2

XTerm*termName:	xterm-256color
XTerm*faceName: Meslo LG M for Powerline:size=9
XTerm*VT100.Translations:	#override Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n Ctrl Shift <Key>C: copy-selection(CLIPBOARD)
