Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

#define normal     xft:Inconsolata for Powerline:style=Medium:size=12,xft:Font Awesome:style=Regular:size=12
#define bold       xft:Inconsolata for Powerline:style=BoldForPowerline:size=12,xft:Font Awesome:style=Regular:size=12
#define italic     xft:Inconsolata for Powerline:style=Medium:size=12,xft:Font Awesome:style=Regular:size=12
#define bolditalic xft:Inconsolata for Powerline:style=BoldForPowerline:size=12,xft:Font Awesome:style=Regular:size=12

#include ".color/colors.Xresources"


URxvt*termName:                         rxvt-256color
URxvt*loginShell:                       true
URxvt*scrollWithBuffer:                 false
URxvt*secondaryScreen:                  true
URxvt*secondaryScroll:                  true
!URxvt*skipScroll:                       true
URxvt*scrollBar:                        false
URxvt*utmpInhibit:                      false
URxvt*urgentOnBell:                     false
URxvt*visualBell:                       true
URxvt*mapAlert:                         true
URxvt*mouseWheelScrollPage:             true
URxvt*colorUL:                          yellow
URxvt*underlineColor:                   yellow

URxvt*font:                             normal
URxvt*boldFont:                         bold
URxvt*italicFont:                       italic
URxvt*boldItalicFont:                   bolditalic

URxvt*saveLines:                        8192
URxvt*buffered:                         true
URxvt*hold:                             true
URxvt*internalBorder:                   0
URxvt*print-pipe:                       cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
URxvt.perl-ext:
URxvt.perl-ext-common:                  default,clipboard
URxvt.keysym.Shift-Control-C:           perl:clipboard:copy
URxvt.keysym.Shift-Control-V:           perl:clipboard:paste
URxvt.clipboard.autocopy:               true
