Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.autohint:   false
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

#define normal     xft:TamzenForPowerline:pixelsize=11:style=Normal,xft:FontAwesome:style=Regular:size=12
#define bold       xft:TamzenForPowerline:pixelsize=11:style=Bold,xft:Font Awesome:style=Regular:size=12
#define italic     xft:TamzenForPowerline:pixelsize=11:style=Italic,xft:Font Awesome:style=Regular:size=12
#define bolditalic xft:TamzenForPowerline:pixelsize=11:style=BoldItalic,xft:Font Awesome:style=Regular:size=12

#include ".cache/wal/colors.Xresources"


URxvt*termName:                         rxvt-256color
URxvt*loginShell:                       true
URxvt*scrollTtyKeypress:		        true
URxvt*scrollTtyOutput:			        false
URxvt*scrollWithBuffer:                 false
URxvt*secondaryScreen:                  true
URxvt*secondaryScroll:                  true
URxvt*skipScroll:                       true
URxvt*scrollstyle:			            xterm
URxvt*scrollBar:                        false
URxvt*utmpInhibit:                      false
URxvt*urgentOnBell:                     false
URxvt*visualBell:                       true
URxvt*mapAlert:                         true
URxvt*mouseWheelScrollPage:             false
URxvt*colorUL:                          yellow
URxvt*underlineColor:                   yellow
!URxvt*background:                       rgba:0000/0000/0200/c800

URxvt*font:                             normal
URxvt*boldFont:                         bold
URxvt*italicFont:                       italic
URxvt*boldItalicFont:                   bolditalic

URxvt*saveLines:                        8192
URxvt*buffered:                         true
URxvt*hold:                             true
URxvt*internalBorder:                   0
URxvt*print-pipe:                       cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
!URxvt.perl-ext:
!URxvt.perl-ext-common:                 default,clipboard
URxvt.iso14755:				            false
URxvt.iso14755_52:			            false
URxvt.keysym.C-M-c:			            builtin-string:
URxvt.keysym.C-M-v:			            builtin-string:
URxvt.keysym.C-S-0x43:			        eval:selection_to_clipboard
URxvt.keysym.C-S-0x56:			        eval:paste_clipboard
URxvt.clipboard.autocopy:               true
